html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Crops content wider than screen */
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #1f2937;
    background-color: #FDF4DB;
    line-height: 1.6;
    padding: 0;
    overflow-x: hidden;
    /* Crops content wider than screen */
}

/* VIDEO HERO */

header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg,
            rgba(255, 215, 0, 0.15),
            rgba(0, 0, 0, 0.5));
    z-index: 1;
}

.logo {
    width: 25%;
    top: 0px;
    height: auto;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.logo2 {
    width: 60%;
    top: 0px;
    height: auto;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.hero-content {
    position: relative;
    z-index: 2;
    padding: 0 20px;
    max-width: 900px;
}

header h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

header h1+h1 {
    margin-top: 12px;
}

header p {
    font-size: 1.35rem;
    margin: 30px auto 40px;
    opacity: 0.95;
}

.cta-button {
    display: inline-block;
    padding: 16px 42px;
    background-color: rgba(255, 215, 0, 0.9);
    color: rgba(0, 0, 0, 0.783);
    text-decoration: none;
    border-radius: 20px;
    font-size: 1.25em;
    font-weight: 600;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.35);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cta-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.45);
}

.highlight {
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 0, 0, 0.5);
    /* Red with transparency */
    color: white;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    /* Ensure it stays above the image */
}

section {
    padding: 25px 20px 5px 20px;
    max-width: 1150px;
    margin: 0 auto;
    text-align: center;
}

section h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 0px;
    font-weight: 500;
    /* background-color: rgba(255, 215, 0, 0.5); */
    border-radius: 20px;
    padding: 10px 40px;
    display: inline-block;
    /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.35); */
}

section p {
    max-width: 760px;
    margin: 0 auto 25px;
    text-align: center;
    color: #4b5563;
    font-size: 1.25rem;
    padding: 10px
}

.image-grid {
    display: grid;
    gap: 20px;
    padding: 10px;
}

.image-item {
    position: relative;
    overflow: hidden;
    /* ensures rounded corners clip text properly */
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.35);
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.image-overlay {
    position: absolute;
    inset: 0;
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.image-overlay.is-visible {
  opacity: 1;
}

footer {
    background: #111827;
    color: #d1d5db;
    text-align: center;
    padding: 50px 20px;
}

footer a {
    color: #d1d5db;
}

/* Responsive Grid Layout */
@media (min-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .book {
        transform: translateX(50%);
    }

    .book.front-cover {
        transform: translateX(0px);
    }

    .book.back-cover {
        transform: translateX(100%);
    }
}

@media (max-width: 767px) {
    header h1 {
        font-size: 2.4rem;
    }

    header p {
        font-size: 1.1rem;
    }

    .image-grid {
        grid-template-columns: 1fr;
    }

    .book {
        transform: translateX(25px);
    }

    .book.book.front-cover {
        transform: translateX(25px);
    }

    .book.back-cover {
        transform: translateX(95%);
    }
}

.slideshow {
    position: absolute;
    top: 50%;
    left: 200vw;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.slides {
    display: flex;
    width: 400%;
    /* 4 slides */
    height: 100%;
    animation: slideLoop 10s infinite;
}

/* Each slide */
.slide {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* fills container */
    object-position: center;
    /* crops from center */
    display: block;
}

/* Animation */
@keyframes slideLoop {

    /* Slide 1 */
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100vw);
    }

    /* Slide 2 */
    45% {
        transform: translateX(-100vw);
    }

    50% {
        transform: translateX(-200vw);
    }

    /* Slide 3 */
    70% {
        transform: translateX(-200vw);
    }

    75% {
        transform: translateX(-300vw);
    }

    /* Slide 4 */
    95% {
        transform: translateX(-300vw);
    }

    100% {
        transform: translateX(0);
    }
}


:root {
    --book-width: 545px;
    --book-height: 400px;
    --flip-speed: 1.5s;
}

.viewport {
    perspective: 1800px;
    display: flex;
    justify-content: center;
    width: 100%;
    transform-style: preserve-3d;
    touch-action: pan-y;
}

.book {
    position: relative;
    width: var(--book-width);
    height: var(--book-height);
    transform-style: preserve-3d;
    transition: transform var(--flip-speed) ease-in-out;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: transform var(--flip-speed) ease-in-out;
    pointer-events: none;
    backface-visibility: hidden;
    background-color: white;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #aaa;
    border: 1.2px solid #aaa;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.front img {
    object-position: left;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintains ratio, fills space */
    display: block;
}

.back img {
    object-position: right;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintains ratio, fills space */
    display: block;
}

.back {
    transform: rotateY(180deg);
}

.flipped::after {
    opacity: 1;
}

.flipped {
    transform: rotateY(-180deg);
}